* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root{
    --heading-size: clamp(20px, 3vw, 50px);
    --content-size: clamp(13px, 1.5vw, 20px);
    --black: #333;
    --blue: #17a2b8;
}
.wrapper{
    max-width: 1500px;
    margin: 0 max(auto, 20px);
}

@media (width < 1520px) {
    .wrapper{
        margin: 0 20px;
    }
}