/* Section Styling */
.popular-section {
    /* margin-top: clamp(150px, 2vw ,200px); */
    margin: 15% 0;
    width: 95%;
    justify-self: center;

    .container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        .left{
            h2 {
                font-size: var(--heading-size);
                font-weight: bold;
                color: #333;
                margin-bottom: 10px;
            }
            p {
                font-size: clamp(13px, 1.5vw, 20px);
                color: #777;
            }
        }
        .right{
            align-content: end;
            width: 50%;
            font-size: clamp(13px, 1.5vw, 20px);
            color: grey;

        }
    }
    .card-container {
        display: grid;
        /* display: flex;  */
        /* grid-template-rows: 1fr 1fr 1fr 1fr; */
        grid-template-columns: repeat(4, 1fr);
        flex-wrap: wrap;      
        gap: clamp(10px,3.5vw,50px);
        justify-content: center;
        .card {
            background: white;
            /* min-width: 250px;  */
            flex: 1;
            border-radius: 12px;
            overflow: hidden;
            /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
            position: relative;
            text-align: left;
            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
                /* border-top-left-radius: 12px;
                border-top-right-radius: 12px; */
                border-radius: 12px;
            }
            .discount-badge {
                position: absolute;
                top: 10px;
                right: 10px;
                background: white;
                color: black;
                padding: 5px 10px;
                font-size: clamp(10px, 1.5vw, 12px);;
                font-weight: bold;
                border-radius: 20px;
            }
            .card-content {
                padding: 15px;
                .card-title {
                    font-size: clamp(13px, 1.5vw, 16px);
                    font-weight: bold;
                    color: #333;
                }
                .card-subtitle {
                    font-size: clamp(11px, 1.5vw, 14px);
                    color: #777;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-top: 5px;
                    i {
                        color: #17a2b8;
                    }
                }
            }
        }        
    }
}

/* Travel memories */
.memories-section{
    margin-top: max(5%, 50px);
    justify-self: center;
    width: 95%;
    /* border: 1px solid red; */
    .heading{
        margin-bottom: max(3%, 20px);
        text-align: center;
        h2{
            font-size: var(--heading-size);
            color: var(--black);
            margin-bottom: 1%;
        }
        span{
            /* margin-top: 13%; */
            font-size: var(--content-size);
            color: grey;
        }
    }
    .row{
        display: flex;
        align-items: center;
        .text-content{
            flex: 1;            
            margin-right: 60px;
            .feature {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                span {
                    color: #fff;
                    width: fit-content;
                    font-size: clamp(18px, 2vw, 20px);
                    font-weight: bold;
                    padding: 5px 10px;
                    border-radius: 5px;
                }
                ._1{
                    background-color: rgb(0, 190, 190);
                }
                ._2{
                    background-color: rgb(83, 1, 137);
                }
                ._3{
                    background-color: rgb(30, 159, 30);
                }
                h4{
                    font-size: clamp(15px, 2vw, 30px);
                    color: var(--black);
                    margin: clamp(10px, 2vw, 20px) 0px;
                }
                p{
                    font-size: clamp(12px, 1.8vw, 20px);
                    color: grey;
                }
            }
            .feature-content h4 {
                font-size: 1.1rem;
                margin-bottom: 5px;
            }
    
            .feature-content p {
                font-size: 0.9rem;
                color: #777;
            }
    
            .btn {
                /* display: inline-block; */
                background: var(--blue);
                color: white;
                padding: 12px 20px;
                border-radius: 8px;
                font-weight: bold;
                border: none;
                font-size: clamp(12px, 2vw, 18px);
                margin-top: 20px;
            }
    
        }
        .image-container {
            flex: 1;
            position: relative;
            max-width: 400px;
            margin-right: 5%;
            img {
                width: 100%;
                border-radius: 20px;
                object-fit: cover;
            }
    
            .review-card {
                position: absolute;
                display: flex;
                align-items: center;
                background: rgba(255, 255, 255, 0.9);
                padding: 10px;
                border-radius: 20px;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                font-size: 14px;
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .rating {
                    font-size: 12px;
                    color: #f4b400;
                    font-weight: bold;
                }
            }
            .review1 { top: 15%; left: -10%; }
            .review2 { bottom: 15%; left: -10%; }
            .review3 { top: 40%; right: -10%; }
        }
    }
}

/* Responsive */

@media (width < 1420px){
    .popular-section{
        margin-bottom: 10%;

    }
}
@media (Width < 1100px) {
    .popular-section{
        margin-top: 20%;}
    
}

@media (width < 768px) {
    .popular-section{
        margin-top: 25%;
        .card-container{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows:  1fr 1fr;
            .card > img{
                aspect-ratio: 1.5;
            }
        }
    }
    .memories-section{
        .row{
            flex-direction: column;
            .feature{
                align-items: center;
                text-align: center;
            }
            .text-content{
                margin-right: 0px;
                justify-items: center;
                margin-bottom: 15%;
            }
            .image-container{
                margin: 0px 9%;

            }
        }
    }
}


@media (width <= 623px) {
    .popular-section{
        margin-top: 178px; 
        .container{
            flex-direction: column;
            align-items: center;
            text-align: center;
            .right{
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}


@media (width < 484px) {
    .popular-section{
        margin-top: 260px;
    }
}

@media (width < 440px) {
    .popular-section{
        .card-container{
            grid-template-columns: 1fr;
            grid-template-rows:  1fr 1fr 1fr 1fr;   
        }   
    }
    
    .memories-section{
        .row> .image-container{
            .review-card{
                padding: clamp(5px, 2vw, 10px);
                border-radius: clamp(10px, 2vw ,20px);
                div{
                    font-size: clamp(11px, 3vw, 14px);

                }
                .rating{
                    font-size: 10px;
                }
            }
        }
    }
}

@media (width <= 380px) {
    .popular-section{
        margin-top: 300px;
    }
}